.text {
	font-size: 12px;
}
 
p {
    /* font-family: "Grape Nuts", 'Helvetica', sans-serif; */
    /* font-family: "dont have", "dont have 2", sans-serif; */
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}

span {
    display:block;
    width: 200;
    height: 200;
}
li {
    display: inline-block;
    

    width: 100px;
    border: 5px solid rebeccapurple;
    /* padding: 2em; */
    /* padding:1em 2em 2em 1em; */
    padding-bottom:2em;
    margin: 2em;
}