.message {
    margin-bottom: 1rem;
}

.message img{
    width: 50px;
    border-radius:50%;
    margin-right:5px;
}

.message-body p {
    margin-bottom: 0;
}

/* name */
.message p:nth-child(1) {
    font-weight: bold;
}

.channel-list {
    height:100%; 
}